/* ----- Fixer le "footer" en bas de page ------ */
body {
	margin: 0;
    margin: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    max-width: 1920px;
}
.site-content {
	flex: 1;
}

/* ----- Base ----- */
.font-family {
    &--Lobster{
        font-family: 'Lobster', cursive;
    }   }

.bg {
    &--gray {
        background-color: #f0f0f0;
    } 
}

h1 {
    font-size: 3.5rem;
}